.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--------------universal------------------------------*/

/*--------------Header------------------------------*/
.header {

  width: auto;
  height: 50px;
  background-color: cornflowerblue;
}
.header span {
  margin-left: 50px;
  font-size: 18px;
  line-height: 50px;
}

/*--------------container------------------------------*/
.container {
  display: flex;
  width: auto;
  height: 1000px;
  background-color: #fff;
  
}
.home {
  
  /* margin-top: -16px; */
  width: 200px;
  height: 1000px;
  background-color: rgb(200, 200, 245);
}
.home div {
  font-weight: 600;
  margin-left: 40px;
  margin-top: 30px;
}
.home ul {
  margin-top: 40px;
}
.home ul li{
  list-style-type: none;
  margin-bottom: 15px;
}


